
@{
    ViewData["Title"] = "AboutMyself";
}

<div class="container about-me-container">
    <div class="row">
        <div class="col-12 text-center mt-5 ">
            <h1 class="about-me-text">About Jacques Schutte</h1>
            <p>A full-stack developer with a flair for creative solutions and diverse technical approaches.</p>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-lg-8 mx-auto">
            <h2 class="about-me-text">Joining Your Team: A Blend of Creativity and Technical Proficiency</h2>
            <p>
                As a full-stack developer deeply passionate about web development, I’ve always sought opportunities to push the boundaries of my skills and creativity. My recent project, a bespoke weather website, serves as a canvas to showcase my ability to blend design intuition with technical acumen.
            </p>
            <p>
                In this project, I focused on implementing features in both .NET Core Razor and JavaScript AJAX to demonstrate my flexibility in handling server-side and client-side development. The dynamic weather data table is a highlight, crafted meticulously in Razor pages and mirrored in AJAX for seamless user experiences. This dual implementation was not just about showing proficiency; it was a deliberate choice to illustrate my knowledge in diverse coding practices.
            </p>
            <p>
                My design for a stylish and functional side navigation panel was a testament to my commitment to creating user-centric interfaces. This element of the website was all about demonstrating how thoughtful design can make information both accessible and engaging.
            </p>
            <p>
                While you may notice varying coding styles across the project, this was an intentional approach to showcase the breadth of my knowledge. From traditional JavaScript to modern TypeScript, I am familiar with and capable of adapting to the evolving trends and preferences in web development.
            </p>
            <p>
                I am excited about the prospect of bringing this blend of creative design and technical prowess to your team. Understanding the importance of cohesive team dynamics, I am eager to contribute, learn, and grow within your esteemed company. My journey in web development is marked by continuous evolution, and I believe your team is the perfect environment for my next chapter.
            </p>
            <p>
                I am looking forward to the opportunity to discuss how my skills and experiences align with the needs of your team. Please feel free to contact me at <a href="tel:+0726731915">072 673 1915</a> or via email at <a href="mailto:jacquesschutte1996@gmail.com">jacquesschutte1996@gmail.com</a>.
            </p>
        </div>
    </div>
</div>