@{
    ViewData["Title"] = "Home";
}


<div class="index-banner">
    <img class="c1" src="~/images/clouds1.png" />
    <img class="c2" src="~/images/clouds2.png" />
</div>

<div class="banner-text">
    <img class="banner-img" src="~/images/happy weather.svg" />
@*    <img class="banner-img" src="~/images/happy-weather-text.png" />*@
</div> 

