html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (max-width: 1200px) {

    #sidebar-wrapper {
        position: fixed; /* Make sidebar fixed position */
        z-index: 1000; /* Ensure it's on top of content */
        height: 100vh !important; /* Full height */
        width: 50px; /* Initial width (collapsed state) */
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 400px; /* Expanded width */
    }

        #wrapper.toggled #sidebar-wrapper:hover {
            width: 400px; /* Remain expanded on hover */
        }

    #page-content-wrapper {
        transition: none;
        max-width: calc(100vw - 67px);
        margin-left: 50px;
    }

    .container-fluid {
        margin-left: 0; /* Ensure content is not pushed */
    }
}


/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .index-banner {
        max-width: calc(100vw - 32px);
        overflow: hidden;
    }

    #sidebar-wrapper {
        height: 100vh !important;
        width: 50px; /* Collapsed width for smaller screens */
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 50px; /* Keep collapsed state on smaller screens */
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}



body {
    font-family: 'Sansita One', cursive;
    background-color: #c0f2f8 !important;
}
.page-content-wrapper {
    max-width: calc(100vw - 50px);
    margin-left: 50px;
}
.index-banner {

    overflow: hidden;
   
}

.banner-img {
    display: flex;
    margin: auto;
    width: 100%;
    max-width: 700px;
    position: relative;
    z-index: 899;
    top: -5.5rem;
}

footer {
    background-color: #fff;
    font-family: 'Sansita One', cursive;
    z-index: 99999999;
}

.nav-menu-item {
    overflow: hidden;
}

.nav-menu-link {
    width: 400px !important;
    max-width: 80vw !important;
    color: #a62828 !important;
    border-bottom: 2px solid #a62828 !important;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Sansita One', cursive;
}

.footer-logo {
    width: 180px;
    position: relative;
    top: -10px;
}

.happy-red {
    color: #a62828 !important;
}

#getWeatherButton {
    background-color: #ffd838;
    box-shadow: 2px 10px 18px -11px rgba(171,8,8,0.75) inset, /* Inset shadow */
    2px 10px 18px -11px rgba(171,8,8,0.75); /* Outset shadow */
    -webkit-box-shadow: 0px -4px 11px -3px rgb(255 46 36) inset, /* Inset shadow for WebKit */
    2px 10px 18px -11px rgb(217 14 14); /* Outset shadow for WebKit */
    -moz-box-shadow: 2px 10px 18px -11px rgba(171,8,8,0.75) inset, /* Inset shadow for Mozilla */
    2px 10px 18px -11px rgba(171,8,8,0.75); /* Outset shadow for Mozilla */
    border: 2px solid #9f3833;
    border-radius: 30px;
    color: #fd6449;
    font-size: 17px;
    font-weight: 700;
    font-family: 'Sansita One', cursive;
    padding-left: 20px;
    padding-right: 20px;

}

    #getWeatherButton:hover {
        background-color: #ffe060;
        border-color: #db3113;
        color: #db3113;
    }


.nav-menu-item :hover {
    background-color: #c0f2f8 !important;
}

#menu-toggle {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
    width: 100%;
    width: 400px!important;
    text-align: start;
    font-family: 'Sansita One', cursive;
}

.fa-bars {
    padding-left: 5px;
    padding-right: 23px;
}

.fa-times {
    padding-left: 10px;
    padding-right: 25px;
}


.fa-home {
    padding-left: 1px;
    padding-right: 20px;
}

#menu-toggle {
    color: #a62828;
    background-color: #ffd838;
    border-color: #a62828;
    border: 2px solid #a62828;
    width: 100%;
    width: 400px;
    text-align: start;
    border-radius: 0px;
}
.lat-chart-canvas {
    max-width: 400px;
    max-height: 400px;
    display: block;
    margin: auto;
}

.chart-canvas {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: auto;
    display: block;
    margin: auto;
}

.location-search-bar {
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom:20px;
}

#weatherResults {
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #39a2e7;
}

#locationInput {
    height: 50px;
    width:100%;
    max-width: 250px;
    margin-right: 5px;
    padding-left: 20px;
    border-radius: 30px;
    border: 2px solid #ffd838;
    box-shadow: 2px 10px 18px -11px rgba(171,8,8,0.75);
    -webkit-box-shadow: 2px 10px 18px -11px rgb(217 14 14);
    -moz-box-shadow: 2px 10px 18px -11px rgba(171,8,8,0.75);
}

#wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.charts-container {
    padding: 20px;
    display: none;
}

#sidebar-wrapper {
    border-right: 2px solid rgb(166, 40, 40);
    overflow: hidden;
    cursor: pointer;
    width: 50px; /* Default expanded width */
    height: 100vh;
    transition: width 0.5s; /* Smooth transition for width */
}

footer {
    transition: width 0.5s;
}

.c1, .c2 {
    width: 100%;
    min-width: 1000px;
    position: relative;
    top: 0px;
    z-index: 1;
}

.c1 {
    z-index: 2;
    animation: slideInC1 0.68s ease-out forwards; /* Slower animation */
}

.c2 {
    animation: slideInC2 0.8s ease-out forwards;
    top: -200px;
    margin-bottom: -200px;
}

.banner-text {
    animation: fadeIn 2s ease-in-out forwards;
}
footer {
    background-color: #dd8500a6 !important;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes slideInC1 {
    from {
        top: -500px;
    }
    /* Initial position (off-screen) */
    to {
        top: 0px;
    }
    /* Final position (on-screen) */
}

@keyframes slideInC2 {
    from {
        top: -500px;
    }
    /* Initial position (off-screen) */
    to {
        top: -200px;
    }
    /* Final position (on-screen), adjust as needed */
}

.chart-header {
    font-family: 'Sansita One', cursive;
    color: #dfb81a;
    text-shadow: 1px 2px 1px rgba(192,36,36,1);
}

.weather-icon {
    width: 60px;
    height: 60px;
}

.dayForecast > h4 {
    color: #dfb81a;
    text-shadow: 1px 2px 1px rgba(192,36,36,1);
}
.weeklyHeader {
    text-align: center;
    font-family: 'Sansita One', cursive;
    color: #dfb81a;
    font-weight: 900;
    text-shadow: 1px 2px 1px rgba(192,36,36,1);
    padding-top: 100px;
}

.table-container {
    width: 95%;
    margin: auto;
}

.temp-header{
    cursor:pointer;
}

tr {
    border-color: #c75154 !important;
}

thead > tr > th {
    background-color: #ffaa41 !important;
    border-color: #be5255 !important;
    font-family: 'Sansita One', cursive;
    color: #e9e18c !important;
    text-shadow: 1px 2px 1px rgba(192,36,36,1);
}

tbody > tr > td {
    background-color: #ffd838a3 !important;
    border-color: #be5255;
    font-family: 'Sansita One', cursive;
    color: #be5255 !important;
}

#page-content-wrapper {
    flex: 1;
    transition: margin-left 0.5s; /* Transition for the main content margin */
    padding-bottom: 60px !important;
}

.table {
    margin: 0px !important;
    max-width: 1200px;
    overflow-x: scroll;
}


/* Styles for collapsed sidebar */
#wrapper.toggled #sidebar-wrapper {
    width: 100px; /* Collapsed width */
}

    /* Hover effect for collapsed sidebar */
    #wrapper.toggled #sidebar-wrapper:hover {
        width: 250px; /* Expand on hover */
    }

tr {
    max-height: 80px !important;
}
td {
    padding: 5px !important;
}

.nav-tabs {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
    .nav-link.active {
        color: #fc654f!important;
        background: #ffc44a!important;
        font-size: 17px!important;
        font-weight: 700;
        font-family: 'Sansita One', cursive;
        border-color: #be5255!important;
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
        color: #be5255;
        font-family: 'Sansita One', cursive;
    }
        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
            color: #fc654f;
            font-family: 'Sansita One', cursive;
            border-color: #be5255;
        }

#forecastTabs {
    border-color: #bf5153;
}

@media only screen and (min-width: 576px) {
}

@media only screen and (min-width: 768px) {
    .weather-icon {
        margin-top: -20px;
        margin-bottom: -20px;
    }
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {


    .c2 {
        animation: slideInC2 0.8s ease-out forwards;
        top: -200px;
        margin-bottom: -200px;
    }


    @keyframes slideInC2 {
        from {
            top: -500px;
        }
        /* Initial position (off-screen) */
        to {
            top: -300px;
        }
        /* Final position (on-screen), adjust as needed */
    }
    .c2 {
        top: -300px;
        margin-bottom: -300px;
    }
}

@media only screen and (min-width: 1400px) {
}

@media (min-width: 1600px) {
    .c2 {
        top: -300px;
        margin-bottom: -300px;
    }
}

@media (min-width: 1800px) {
    .c2 {
        top: -400px !important;
        margin-bottom: -400px !important;
    }
}


@media (min-width: 2000px) {
    .c2 {
        top: -500px !important;
        margin-bottom: -500px !important;
    }
}

