<!DOCTYPE html>
<html lang="en">
<head>
    <!-- existing head content -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HappyWeatherForeCast</title>
    <link rel="stylesheet" href="~/css/" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sansita+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/HappyWeatherForeCast.styles.css" asp-append-version="true" />

</head>
<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <button class="btn btn-primary" id="menu-toggle">
                <i class="fas fa-bars"></i> <span class="toggle-text">Stay Open</span>
                <i class="fas fa-times" style="display:none;"></i> <span class="toggle-text" style="display:none;">Close</span>
            </button>
            <div class="list-group list-group-flush nav-menu-item">
                <a href="#" class="list-group-item list-group-item-action bg-light nav-menu-link">
                    <i class="fas fa-home"></i> 
                    Home
                </a>
     
            </div>
        </div>
        <!-- Page Content -->
        <div id="page-content-wrapper">
           
            <div class="container-fluid px-0">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted" style="border-top: 2px solid #a62828 !important;">
        <div class="container">
              <img class="footer-logo" src="~/images/happy-weather-text.png" />
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
